.home-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.post-card {
  border: 1px solid black;
  width: 300px;
  border-radius: 12px;
  padding: 1rem;
  margin: 1rem 0;
  cursor: pointer;
  background-color: rgb(227, 224, 224);
}

.post-title {
  font-weight: 600;
  font-size: 16px;
  padding: 0.5rem 0;
}

.post-body {
  font-size: 12px;
}

.navbar {
  border: 1px solid black;
  border-radius: 12px;
  display: flex;
  justify-content: space-around;
  padding: 1rem;
  background-color: aliceblue;
}

.navbar > div {
  cursor: pointer;
}

.single-post {
  display: flex;

  justify-content: center;
  align-items: center;
}

.post-header {
  display: flex;
  justify-content: space-between;
}

.create-post-form {
  border: 1px solid black;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 500px;
  padding: 1rem;
  margin: 1rem;
}
